@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Merriweather:ital@1&display=swap");

.nav {
  position: relative;
  height: 70px;
  width: 100%;
  background-color: #f8f8f4;

  font-family: "Merriweather", serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.logo {
  background-color: transparent;
  font-family: "Merriweather", serif;
  /* text-align: left;
  margin-left: 50px;
  width: 500px;
  margin-left: 40px;
  text-align: left;
  vertical-align: middle; */
  display: inline-block;
  font-size: 22px;

  padding: 0px 10px 10px 10px;
}
.briefcase {
  margin-top: 25px;
  top: 5px;
  left: 5px;
}
.main-image {
  width: 100%;
  height: 45rem;
  overflow: hidden;
}

.main-image img {
  width: 110%;
  height: 100%;
  object-fit: cover;
}

.login-btn {
  cursor: pointer;
  font-weight: 400;
  font-size: medium;
  font-family: "Merriweather", serif;
  background-color: #f8f8f4;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.712);
  padding-top: 2px;
  width: 100px;
  height: 40px;
  align-items: center;
  border-radius: 5px;
  margin-top: 0;
  margin-left: 50px;
  display: inline;
  float: right;
  margin-top: 18px;
  margin-right: 20px;

  font-size: 18px;
}

.login-btn:hover,
.login-btn:active {
  background-color: rgba(0, 0, 0, 0.712);
  color: aliceblue;
  border: none;
}
